/* Colors */
$color1: #424242;
$color2: #6d6d6d;
$color3: #a8a8a8;

/* Backgrounds */
$light-bg: #e4efff;
$light-bg2: #f8f8f8;
$light-bg3: #a5c3f1;

/* Font-sizes */
$xs: 1.4rem;
$sm: 1.7rem;
$md: 2.4rem;
$lg: 3rem;
$xl: 6rem;

/* Screen Sizes */
$tablet: 992px;
$mobile: 500px;

/* Mixins */
@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}
